<p>schoolgroups works!</p>
<button class="btn createBtn" onclick="">Create</button>
<table border="1" class="table">
  <caption>School Groups</caption>
  <tr>
    <th scope="col">Group Name</th>
    <th scope="col">Peoples Amount</th>
    <th scope="col">Teacher FIO</th>
    <th scope="col">Action</th>
  </tr>
    <tr *ngFor="let schoolgroup of schoolgroups">
      <td>{{schoolgroup.groupname}}</td>
      <td>{{schoolgroup.peoplesamount}}</td>
      <td><p *ngFor="let teacher of schoolgroup.teachers">{{teacher.teacherfio}}</p></td>
      <!--<td ngFor="let teacher of schoolgroup.teachers">{{teacher.teacherfio}}</td>-->
      <td><button>Edit</button> / <button>Delete</button></td>
    </tr>
</table>
